.container{
    text-align: center;
    font-size: 4rem;
    font-family: "sofia";
}
body{
    background-color: aqua;
}
img{
    width: 10%;
}
p{
    text-align: center;
    font-family: "sofia";
    color: red;
}
